$paddingGap : 12px;
$appBarHeight : 65px;
$serchHeight : 105px;
$paddingHeight: 8px;
$filterHeight : 45px;
$marginHeight : 16px;

$tabsHeaderHeight : 67px;
$tabTitleHeight : 48px;
$colPaddingHeight : 12px;
$dxGridHeaderHeight : 35px;
$chartCardTitleHeight : 52px;
$chartLabelHeight : 45px;
$shipFilterHeight : 48px;

$defalutPadding : 24px;
$cardTitleHeight : 88px;
$topPadding : 24px;
$bottomPadding : 24px;
$leftPadding : 24px;
$rightPadding : 24px;
$dateFilterHeight : 45px;
$alarmTypeHeight : 58px;
$tabsHeader2Height : 62px;
$timeLineHeight : 150px;