@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./font/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./font/Pretendard-Medium.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./font/Pretendard-Light.woff')
    format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

/* html,
body {
  height: 100%;
} */

html, body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 0.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'Pretendard';
}

table, th , td {
  font-family: 'Pretendard';
}